resultados/05-nodered/fluxo.json
[
    {
        "id": "f80c71df765c8eaf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fadbe60ea34da558",
        "type": "group",
        "z": "f80c71df765c8eaf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ccb2e66bb7ad8e30",
            "6dda52965d6d28ed",
            "b003c93ef4eb1a55",
            "815f8716ad72d371",
            "d15a014d90bcc3a0",
            "cbceb23fd3cd58c3",
            "fd61cea7114c88d1",
            "1d5f8321623984e7",
            "c0da840c41a7e9fe",
            "0fcedbde2f561d0c",
            "04ec2f9eb5c9d9fd",
            "b4d50f95cb712f49",
            "927d6c675739406d",
            "aea55e4eb9ae1749",
            "30c16df9c18172a6",
            "8a08a1df0e548573",
            "731f2c60709518e4",
            "9d95a28c267a9909",
            "e2e2b99ad43b7614"
        ],
        "x": 1534,
        "y": 19,
        "w": 452,
        "h": 802
    },
    {
        "id": "004e60f2910db288",
        "type": "group",
        "z": "f80c71df765c8eaf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "efce4971a58e971a",
            "fcad173f86443d50",
            "04e3888f004fb208",
            "41b06a36b4ce1dcc",
            "98c7161f38f9f4cc",
            "794e53c407949408",
            "45589f20e4ee1f79",
            "e54a7a988e196719",
            "ec865d7c235f89f8"
        ],
        "x": 1534,
        "y": 1799,
        "w": 472,
        "h": 402
    },
    {
        "id": "e45edf9474c5eb08",
        "type": "group",
        "z": "f80c71df765c8eaf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b7bc0f9f2fb3b747",
            "335c800004399f00",
            "270b8a107b8d2f56",
            "4f5800759fca7b96",
            "28f294d0d865ae29",
            "a830ae2100124c43",
            "0af855eb5616743e",
            "98678a62a4c8dc7b",
            "7e8a7121b83ee1f2",
            "6528c48444326cb7",
            "f1959d23b8f03a92",
            "fd18eccf1f401b43",
            "9e655804895e5adf",
            "acc431c985fbac0f",
            "92ad9f74afc3af56",
            "0f5311192693ee2d",
            "47ada54fb6119230",
            "6ecc506d2f3a978d",
            "d74d4e6cfa97b679",
            "51ce2cec59aec925",
            "432fd4bf8b05a66b"
        ],
        "x": 1534,
        "y": 859,
        "w": 432,
        "h": 882
    },
    {
        "id": "2fba213903cecd75",
        "type": "group",
        "z": "f80c71df765c8eaf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1c69edd672d82eac",
            "049852a658f7dbc1",
            "169b8a95ba56d938",
            "7096cafdbdf08f73",
            "1ab00fee456e45ec",
            "eaba313b86ca0564",
            "539c3d9eb9f50a32",
            "0f4eea7a54fd01c9",
            "2022b5e6bd4f61be",
            "7333bd622beb7c4e"
        ],
        "x": 1454,
        "y": 2299,
        "w": 392,
        "h": 442
    },
    {
        "id": "2c4627f36cf7c97c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "b0e7e26ed37888a6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 100,
                "sy": 100,
                "gx": 1,
                "gy": 1,
                "cx": 1,
                "cy": 1,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b86b2fa4c2ea9253",
        "type": "ui_tab",
        "name": "Starview - Monitoramento Avançado de Televisão",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "211e096b8be479ba",
        "type": "ui_group",
        "name": "Entrada",
        "tab": "b86b2fa4c2ea9253",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ee3ae3ddf4de56b",
        "type": "ui_spacer",
        "z": "f80c71df765c8eaf",
        "name": "spacer",
        "group": "7d9978a2cd734f53",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "d9c8634857565702",
        "type": "ui_spacer",
        "z": "f80c71df765c8eaf",
        "name": "spacer",
        "group": "7d9978a2cd734f53",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d9978a2cd734f53",
        "type": "ui_group",
        "name": "Placa de Identificação Digital (Digital Nameplate)",
        "tab": "b86b2fa4c2ea9253",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbe251da69af5a23",
        "type": "ui_group",
        "name": "Vendor Information",
        "tab": "b86b2fa4c2ea9253",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6aec649ff8b1d15",
        "type": "ui_group",
        "name": "Technical Data",
        "tab": "b86b2fa4c2ea9253",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a920d97b9daced0",
        "type": "ui_group",
        "name": "Profile",
        "tab": "b86b2fa4c2ea9253",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10738b55b9939dbb",
        "type": "ui_spacer",
        "z": "f80c71df765c8eaf",
        "name": "spacer",
        "group": "4a920d97b9daced0",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "96b20da7b2eb6303",
        "type": "http request",
        "z": "f80c71df765c8eaf",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2c4627f36cf7c97c",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 380,
        "wires": [
            [
                "93d0029d4ed137e3",
                "eba786815c353b2f",
                "2c02cc136561e6fa",
                "9725358d98d2560f",
                "b2e055b77a1e5d92"
            ]
        ]
    },
    {
        "id": "93d0029d4ed137e3",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "ff402ad6db8f80ac",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "68058f4828cb92f9",
        "type": "function",
        "z": "f80c71df765c8eaf",
        "name": "function 1",
        "func": "let url = \"\";\n\nif (msg.payload.serial == \"12345\") {\n    url = \"https://localhost:5051/api/v3.0/submodels/\";\n} else if (msg.payload.serial == \"54321\") {\n    url = \"https://localhost:5052/api/v3.0/submodels/\";\n} else {\n    url = \"http://localhost:1880/\";\n}\n\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "96b20da7b2eb6303",
                "ff402ad6db8f80ac"
            ]
        ]
    },
    {
        "id": "6dda52965d6d28ed",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Designação do Produto do Fabricante",
        "format": "{{content.submodelElements[6].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 100,
        "wires": []
    },
    {
        "id": "b003c93ef4eb1a55",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Número de Série",
        "format": "{{content.submodelElements[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 140,
        "wires": []
    },
    {
        "id": "815f8716ad72d371",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Versão de Hardware",
        "format": "{{content.submodelElements[7].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 180,
        "wires": []
    },
    {
        "id": "d15a014d90bcc3a0",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Versão de Software",
        "format": "{{content.submodelElements[9].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 220,
        "wires": []
    },
    {
        "id": "cbceb23fd3cd58c3",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Versão de Firmaware",
        "format": "{{content.submodelElements[8].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 260,
        "wires": []
    },
    {
        "id": "f5df7ae79d4744ba",
        "type": "ui_form",
        "z": "f80c71df765c8eaf",
        "name": "",
        "label": "",
        "group": "211e096b8be479ba",
        "order": 1,
        "width": "4",
        "height": "1",
        "options": [
            {
                "label": "Serial",
                "value": "serial",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "serial": ""
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "68058f4828cb92f9",
                "f9e7257f15c6e7dc"
            ]
        ]
    },
    {
        "id": "f9e7257f15c6e7dc",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "049852a658f7dbc1",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Streaming - Accmulated Time",
        "format": "{{content.submodelElements[0].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1600,
        "y": 2380,
        "wires": []
    },
    {
        "id": "335c800004399f00",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Manufacturer Name",
        "format": "{{content.submodelElements[0].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 940,
        "wires": []
    },
    {
        "id": "fcad173f86443d50",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "City Town",
        "format": "{{content.submodelElements[0].value[0].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 1880,
        "wires": []
    },
    {
        "id": "ccb2e66bb7ad8e30",
        "type": "comment",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "name": "Valores armazenados no submodelo DigitalNameplate",
        "info": "",
        "x": 1760,
        "y": 60,
        "wires": []
    },
    {
        "id": "eba786815c353b2f",
        "type": "function",
        "z": "f80c71df765c8eaf",
        "name": "DigitalNameplate",
        "func": "let content = \"\";\n\ntry {\n    content = msg.payload.result[0];\n}\ncatch {\n    content = \"\";\n}\n\nmsg.content = content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "7180fca3cdb6ca5c",
                "c29220e95077128a"
            ]
        ]
    },
    {
        "id": "2c02cc136561e6fa",
        "type": "function",
        "z": "f80c71df765c8eaf",
        "name": "VendorInformations",
        "func": "let content = \"\";\n\ntry {\n    content = msg.payload.result[1];\n}\ncatch {\n    content = \"\";\n}\n\nmsg.content = content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1860,
        "wires": [
            [
                "1611f3ce1475520b",
                "c943e16066e95d6b"
            ]
        ]
    },
    {
        "id": "9725358d98d2560f",
        "type": "function",
        "z": "f80c71df765c8eaf",
        "name": "TechnicalData",
        "func": "let content = \"\";\n\ntry {\n    content = msg.payload.result[2];\n}\ncatch {\n    content = \"\";\n}\n\nmsg.content = content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1320,
        "wires": [
            [
                "7c8b855dada20116",
                "b3ce9e8043a0d03f"
            ]
        ]
    },
    {
        "id": "b2e055b77a1e5d92",
        "type": "function",
        "z": "f80c71df765c8eaf",
        "name": "Profile",
        "func": "let content = \"\";\n\ntry {\n    content = msg.payload.result[3];\n}\ncatch {\n    content = \"\";\n}\n\nmsg.content = content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 2500,
        "wires": [
            [
                "4e34ef18d433b845",
                "86cffa19f7964fbe"
            ]
        ]
    },
    {
        "id": "efce4971a58e971a",
        "type": "comment",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "name": "Valores armazenados no submodelo VendorInformations",
        "info": "",
        "x": 1770,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b7bc0f9f2fb3b747",
        "type": "comment",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "name": "Valores armazenados no submodelo TechnicalData",
        "info": "",
        "x": 1750,
        "y": 900,
        "wires": []
    },
    {
        "id": "1c69edd672d82eac",
        "type": "comment",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "name": "Valores armazenados no submodelo Profile",
        "info": "",
        "x": 1650,
        "y": 2340,
        "wires": []
    },
    {
        "id": "7180fca3cdb6ca5c",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "content",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "c29220e95077128a",
        "type": "switch",
        "z": "f80c71df765c8eaf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "\"\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "6dda52965d6d28ed",
                "b003c93ef4eb1a55",
                "815f8716ad72d371",
                "d15a014d90bcc3a0",
                "cbceb23fd3cd58c3",
                "fd61cea7114c88d1",
                "1d5f8321623984e7",
                "c0da840c41a7e9fe",
                "0fcedbde2f561d0c",
                "04ec2f9eb5c9d9fd",
                "b4d50f95cb712f49",
                "927d6c675739406d",
                "aea55e4eb9ae1749",
                "30c16df9c18172a6",
                "8a08a1df0e548573",
                "731f2c60709518e4",
                "9d95a28c267a9909",
                "e2e2b99ad43b7614"
            ]
        ]
    },
    {
        "id": "1611f3ce1475520b",
        "type": "switch",
        "z": "f80c71df765c8eaf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "\"\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 2000,
        "wires": [
            [
                "fcad173f86443d50",
                "04e3888f004fb208",
                "41b06a36b4ce1dcc",
                "98c7161f38f9f4cc",
                "794e53c407949408",
                "45589f20e4ee1f79",
                "e54a7a988e196719",
                "ec865d7c235f89f8"
            ]
        ]
    },
    {
        "id": "7c8b855dada20116",
        "type": "switch",
        "z": "f80c71df765c8eaf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "\"\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1250,
        "y": 1320,
        "wires": [
            [
                "335c800004399f00",
                "270b8a107b8d2f56",
                "4f5800759fca7b96",
                "28f294d0d865ae29",
                "a830ae2100124c43",
                "0af855eb5616743e",
                "98678a62a4c8dc7b",
                "7e8a7121b83ee1f2",
                "6528c48444326cb7",
                "f1959d23b8f03a92",
                "fd18eccf1f401b43",
                "9e655804895e5adf",
                "acc431c985fbac0f",
                "92ad9f74afc3af56",
                "47ada54fb6119230",
                "6ecc506d2f3a978d",
                "d74d4e6cfa97b679",
                "51ce2cec59aec925",
                "432fd4bf8b05a66b",
                "0f5311192693ee2d"
            ]
        ]
    },
    {
        "id": "4e34ef18d433b845",
        "type": "switch",
        "z": "f80c71df765c8eaf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "\"\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 2500,
        "wires": [
            [
                "049852a658f7dbc1",
                "169b8a95ba56d938",
                "7096cafdbdf08f73",
                "1ab00fee456e45ec",
                "eaba313b86ca0564",
                "539c3d9eb9f50a32",
                "0f4eea7a54fd01c9",
                "2022b5e6bd4f61be",
                "7333bd622beb7c4e"
            ]
        ]
    },
    {
        "id": "c943e16066e95d6b",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "content",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1680,
        "wires": []
    },
    {
        "id": "b3ce9e8043a0d03f",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "content",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1220,
        "wires": []
    },
    {
        "id": "86cffa19f7964fbe",
        "type": "debug",
        "z": "f80c71df765c8eaf",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "content",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 2340,
        "wires": []
    },
    {
        "id": "fd61cea7114c88d1",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "URI do Produto",
        "format": "{{content.submodelElements[6].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1640,
        "y": 300,
        "wires": []
    },
    {
        "id": "1d5f8321623984e7",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nome do Fabricante",
        "format": "{{content.submodelElements[5].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 340,
        "wires": []
    },
    {
        "id": "c0da840c41a7e9fe",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - Código Nacional",
        "format": "{{content.submodelElements[10].value[0].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 380,
        "wires": []
    },
    {
        "id": "0fcedbde2f561d0c",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - Cidade",
        "format": "{{content.submodelElements[10].value[1].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 420,
        "wires": []
    },
    {
        "id": "04ec2f9eb5c9d9fd",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - Empresa",
        "format": "{{content.submodelElements[10].value[2].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4d50f95cb712f49",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - Telefone",
        "format": "{{content.submodelElements[10].value[6].value[0].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 500,
        "wires": []
    },
    {
        "id": "927d6c675739406d",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - E-mail",
        "format": "{{content.submodelElements[10].value[7].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1690,
        "y": 540,
        "wires": []
    },
    {
        "id": "aea55e4eb9ae1749",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - Endereço",
        "format": "{{content.submodelElements[10].value[3].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 580,
        "wires": []
    },
    {
        "id": "30c16df9c18172a6",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - CEP",
        "format": "{{content.submodelElements[10].value[4].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1690,
        "y": 620,
        "wires": []
    },
    {
        "id": "8a08a1df0e548573",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Informações de Contato - Estado",
        "format": "{{content.submodelElements[10].value[5].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 660,
        "wires": []
    },
    {
        "id": "731f2c60709518e4",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ano de Fabricação",
        "format": "{{content.submodelElements[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 700,
        "wires": []
    },
    {
        "id": "9d95a28c267a9909",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Data da Fabricação",
        "format": "{{content.submodelElements[3].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 740,
        "wires": []
    },
    {
        "id": "e2e2b99ad43b7614",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "fadbe60ea34da558",
        "group": "7d9978a2cd734f53",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "País",
        "format": "{{content.submodelElements[4].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 780,
        "wires": []
    },
    {
        "id": "270b8a107b8d2f56",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ManufacturerProductDesignation",
        "format": "{{content.submodelElements[0].value[3].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 980,
        "wires": []
    },
    {
        "id": "4f5800759fca7b96",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ManufacturerArticleNumber",
        "format": "{{content.submodelElements[0].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1680,
        "y": 1020,
        "wires": []
    },
    {
        "id": "28f294d0d865ae29",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ManufacturerOrderCode",
        "format": "{{content.submodelElements[0].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a830ae2100124c43",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TechnicalProperties - Width",
        "format": "{{content.submodelElements[1].value[0].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1680,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0af855eb5616743e",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TechnicalProperties - Height",
        "format": "{{content.submodelElements[1].value[0].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "98678a62a4c8dc7b",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TechnicalProperties - Depth",
        "format": "{{content.submodelElements[1].value[0].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1680,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7e8a7121b83ee1f2",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ScreenInformations - Frequency",
        "format": "{{content.submodelElements[1].value[2].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1690,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6528c48444326cb7",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ScreenInformations - Resolution",
        "format": "{{content.submodelElements[1].value[2].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1690,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f1959d23b8f03a92",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ScreenInformations - ScreenSize",
        "format": "{{content.submodelElements[1].value[2].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fd18eccf1f401b43",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ScreenInformations - ScreenTechnology",
        "format": "{{content.submodelElements[1].value[2].value[3].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1720,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9e655804895e5adf",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OperationSystem",
        "format": "{{content.submodelElements[1].value[3].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 1380,
        "wires": []
    },
    {
        "id": "acc431c985fbac0f",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Color",
        "format": "{{content.submodelElements[1].value[3].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 1420,
        "wires": []
    },
    {
        "id": "92ad9f74afc3af56",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weight",
        "format": "{{content.submodelElements[1].value[3].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0f5311192693ee2d",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connections - HDMI",
        "format": "{{content.submodelElements[1].value[1].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 1500,
        "wires": []
    },
    {
        "id": "47ada54fb6119230",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connections - USB",
        "format": "{{content.submodelElements[1].value[1].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6ecc506d2f3a978d",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connections - RF",
        "format": "{{content.submodelElements[1].value[1].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 1580,
        "wires": []
    },
    {
        "id": "d74d4e6cfa97b679",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connections - WiFi",
        "format": "{{content.submodelElements[1].value[1].value[3].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 1620,
        "wires": []
    },
    {
        "id": "51ce2cec59aec925",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connections - Ethernet",
        "format": "{{content.submodelElements[1].value[1].value[4].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 1660,
        "wires": []
    },
    {
        "id": "432fd4bf8b05a66b",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "e45edf9474c5eb08",
        "group": "b6aec649ff8b1d15",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connections - Bluetooth",
        "format": "{{content.submodelElements[1].value[1].value[5].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1670,
        "y": 1700,
        "wires": []
    },
    {
        "id": "04e3888f004fb208",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Company",
        "format": "{{content.submodelElements[0].value[1].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 1920,
        "wires": []
    },
    {
        "id": "41b06a36b4ce1dcc",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Department",
        "format": "{{content.submodelElements[0].value[2].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1630,
        "y": 1960,
        "wires": []
    },
    {
        "id": "98c7161f38f9f4cc",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phone",
        "format": "{{content.submodelElements[0].value[6].value[0].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 2000,
        "wires": []
    },
    {
        "id": "794e53c407949408",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "EmailAddress",
        "format": "{{content.submodelElements[0].value[7].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1640,
        "y": 2040,
        "wires": []
    },
    {
        "id": "45589f20e4ee1f79",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Street",
        "format": "{{content.submodelElements[0].value[3].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 2080,
        "wires": []
    },
    {
        "id": "e54a7a988e196719",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zipcode",
        "format": "{{content.submodelElements[0].value[4].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 2120,
        "wires": []
    },
    {
        "id": "ec865d7c235f89f8",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "004e60f2910db288",
        "group": "cbe251da69af5a23",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "StateCounty",
        "format": "{{content.submodelElements[0].value[5].value[0].text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1630,
        "y": 2160,
        "wires": []
    },
    {
        "id": "169b8a95ba56d938",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Streaming - BeginTime",
        "format": "{{content.submodelElements[0].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 2420,
        "wires": []
    },
    {
        "id": "7096cafdbdf08f73",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Streaming - EndTime",
        "format": "{{content.submodelElements[0].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 2460,
        "wires": []
    },
    {
        "id": "1ab00fee456e45ec",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LiveTV - Accmulated Time",
        "format": "{{content.submodelElements[1].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 2500,
        "wires": []
    },
    {
        "id": "eaba313b86ca0564",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LiveTV - BeginTime",
        "format": "{{content.submodelElements[1].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 2540,
        "wires": []
    },
    {
        "id": "539c3d9eb9f50a32",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LiveTV - EndTime",
        "format": "{{content.submodelElements[1].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 2580,
        "wires": []
    },
    {
        "id": "7333bd622beb7c4e",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "InteractiveApplication - EndTime",
        "format": "{{content.submodelElements[2].value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 2700,
        "wires": []
    },
    {
        "id": "0f4eea7a54fd01c9",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "InteractiveApplication - Accmulated Time",
        "format": "{{content.submodelElements[2].value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1640,
        "y": 2620,
        "wires": []
    },
    {
        "id": "2022b5e6bd4f61be",
        "type": "ui_text",
        "z": "f80c71df765c8eaf",
        "g": "2fba213903cecd75",
        "group": "4a920d97b9daced0",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "InteractiveApplication - BeginTime",
        "format": "{{content.submodelElements[2].value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 2660,
        "wires": []
    }
]